# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~

# ignore metadata
.metadata

# Specific for MAC
.DS_Store
._*

/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
coverage_report
depcomp
INSTALL
install-sh
libtool
m4
missing
stamp-h1
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
